body {
	background-color: #E6E6E6;
}

.header {
	font-family: "Century Gothic", Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 5px;
	
	margin-top:10%;
	margin-left:20%;
}

.header h1 {
	color: #525252;
	
    transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    
    display: inline;
    font-size: 32px;
    text-decoration: none
}

.header h1:hover {
    color: #B3B3B3;
}